
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @products.each do |product| %>
        <% product_presenter = ProductPresenter.new(product).to_hash %>
        <%= render 'product', product_presenter: product_presenter %>
      <% end %>
    </div>
  </div>
</section>
